{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "settings": {
    "node": {
      "tryExtensions": [
        ".js",
        ".json",
        ".node",
        ".ts",
        ".d.ts"
      ]
    }
  },
  "root": true,
  "rules": {
    "eqeqeq": "error",
    "no-undef": "off",
    "no-unused-vars": "off",
    "no-unexpected-multiline": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": "warn"
  }
}